*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

.CardEventContainer{
    min-height: 100vh;
    margin: 5vh auto 0;
    display: flex;
    flex-direction: column;
    
}

.CardEvent{
    width: 1000px;
    height: 250px;
    margin: 5vh auto;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.CardImgContainer{
    width: 50%;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.CardImg{
    width: 100%;
}

.CardTextContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CardCityText{

}