*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

.CardEventContainer{
    min-height: 100vh;
    margin: 5vh auto 0;
    display: flex;
    flex-direction: column;
    
}

.CardEvent{
    width: 62rem;
    height: 15rem;
    margin: 5vh auto;
    background-color: #393E46;
    display: flex;
    justify-content: center;
    z-index: -1;
    box-shadow: 5px -5px 5px black;
}

.CardImgContainer{
    width: 50%;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.CardImg{
    width: 100%;
}

.CardTextContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CardCityText{
    color: #00ADB5;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif, cursive;
}

.CardCountryText{
    color: #00ADB5;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif, cursive;
}



/* -----------MEDIAQUERYS----------- */
@media (max-width: 1024px){
    .CardEvent{
        width: 40rem;
    }

    .CardImg{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px){
    .CardEvent{
        width: 30rem;
    }

    .CardImg{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 425px){
    .CardEvent{
        width: 20rem;
    }

    .CardImg{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .CardCityText{
        font-size: 1.2rem;
    }

    .CardCountryText{
        font-size: 1rem;
    }
}



@media (max-width: 320px){
    .CardEvent{
        width: 15rem;
    }

    .CardImg{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .CardCityText{
        font-size: 1.2rem;
    }

    .CardCountryText{
        font-size: 1rem;
    }
}