@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.CarouselContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CarouselSlide{
    width: 90vw;
    height: calc(100vh - 1.5rem);
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.CarouselText, .CarouselTitle{
    font-family: 'Poppins', sans-serif;
    color: #00ADB5;
    background-color: #393E46;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 2px;
    font-size: 2rem;
    text-shadow: 3px -3px 1px #222831;
}

.CarouselEvent{
    background-color: #EEEEEE;
    width: 50%;
    height: 50%;
    padding: 10px;
    margin-bottom: 25px;
}

.CarouselImg{
    object-fit: cover;
    height: calc(100% - 1.5rem);
    width: 100%;
    margin: 0;
}

.Arrow-button{
    padding: 1rem;
    height: 10%;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #393E46;
    color: white;
    font-weight: 900;
}

.CarouselContainerImg{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}