.CitiesContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainCities{
    height: 83vh;
}

.CitiesH1{
    font-family: 'Poppins', sans-serif, cursive;
}