@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.FooterContainer{
    margin: 0;
    width: auto;
    min-height: 15vh;
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.FooterText{
    background-color: #393E46;
    color: #EEEEEE;
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 360px;
    padding: 3px;
}

.FooterImg{
    width: 4vw;
    background-color: #393E46;
    border-radius: 360px;
    padding: 3px;
    margin: 0 15px;
}

@media (max-width: 768px){
    .FooterText{
        font-size: 1.3rem;
    }

    .FooterImg{
        width: 9vw;
        height: 8vh;
    }
}

@media (max-width: 425px){
    .FooterImg{
        width: 13vw;
        height: 6vh;
    }
}

@media (max-width: 320px){
    
    .FooterText{
        font-size: 1.1rem;
    }
    .FooterImg{
        width: 13vw;
        height: 5vh;
    }
}