.FooterContainer{
    margin: 0;
    width: auto;
    min-height: 20vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.FooterP{
    color: #fff;
    font-size: 2rem;
}

.FooterImg{
    width: 6vw;
    height: 10vh;
    margin-right: 30px;
    margin-left: 30px;
}

.Ig{
    background-color: #fff;
    border-radius: 25px;
}

.Face{
    background-color: #fff;
    border-radius: 360px;
}

@media (max-width: 768px){
    .FooterP{
        font-size: 1.3rem;
    }

    .FooterImg{
        width: 9vw;
        height: 8vh;
    }

    .Ig{
        border-radius: 15px;
    }
}

@media (max-width: 425px){
    .FooterImg{
        width: 13vw;
        height: 6vh;
    }

    .Ig{
        border-radius: 10px;
    }
}

@media (max-width: 320px){
    
    .FooterP{
        font-size: 1.1rem;
    }
    .FooterImg{
        width: 13vw;
        height: 5vh;
    }

    .Ig{
        border-radius: 10px;
    }
}