@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Poppins:wght@200;300;400;500;600;700&display=swap');

.HeroContain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(https://images.pexels.com/photos/3155666/pexels-photo-3155666.jpeg?cs=srgb&dl=pexels-asad-photo-maldives-3155666.jpg&fm=jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

.HeroH1{
    font-family: 'Bungee Inline', cursive;
    font-weight: 400;
    font-size: 5rem;
    color: #EEEEEE;
    text-shadow: 3px -3px 1px #222831;
    margin: 0;
}

@media (max-width: 768px){
    .HeroH1{
        font-size: 2.7rem;
    }
}

@media (max-width: 320px){
    .HeroH1{
        font-size: 2.2rem;
    }
}