.newCityContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainNewCity{
    height: 83vh;
}

.NewCityH1{
    font-family: 'Poppins', sans-serif, cursive;
}